<mat-toolbar color="primary">
    <span>My Account</span>
  </mat-toolbar>
  
  <div *ngIf="user; else guest">
    <mat-card>
      <mat-card-title>Welcome, {{ user.username }}</mat-card-title>
      <mat-card-content>
        <p>Email: {{ user.email }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="warn" (click)="logout()">Logout</button>
      </mat-card-actions>
    </mat-card>
  </div>
  
  <ng-template #guest>
    <p>Please log in to see your account info.</p>
  </ng-template>
  