<tr *ngFor="let item of basketItems">
  <td>{{ item.product.title }}</td>
  <td>
    <button mat-icon-button (click)="decreaseQuantity(item)">
      <mat-icon>remove</mat-icon>
    </button>
    {{ item.quantity }}
    <button mat-icon-button (click)="increaseQuantity(item)">
      <mat-icon>add</mat-icon>
    </button>
  </td>
  <td>{{ item.product.price | currency }}</td>
  <td>{{ item.product.price * item.quantity | currency }}</td>
  <td>
    <button mat-icon-button (click)="removeItem(item.productId)">
      <mat-icon>delete</mat-icon>
    </button>
  </td>
</tr>
