<h2>MY FAVORITE PRODUCTS</h2>

<div *ngIf="favoriteProducts.length === 0" class="empty-message">
  You haven't added any favorite products yet.
</div>

<div class="cart-list" *ngIf="favoriteProducts.length > 0">
  <div class="cart-item" *ngFor="let product of favoriteProducts">
    <div class="product-img">
      <img [src]="product.thumbnail" alt="{{ product.title }}" />
    </div>

    <div class="product-details">
      <div class="product-title">{{ product.title }}</div>
      <div class="product-subtitle">${{ product.price | number:'1.2-2' }}</div>
    </div>

    <div class="product-actions">
      <button class="btn brown" (click)="addToBasket(product.id)">
        <i class="fi fi-br-shopping-cart"></i> Add to Basket
      </button>
      <a class="btn white" [routerLink]="['/products', product.id]">View</a>
    </div>

  
  </div>
</div>
