html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    background-color: #fff;
    color: #333;
  }
  
  .page-wrapper {
    padding-left: 150px;
    padding-right: 150px;
  
    @media (max-width: 768px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  
  .mat-button,
  .mat-toolbar,
  .mat-card-title,
  .mat-card-subtitle,
  .mat-icon-button {
    font-family: 'Jost', sans-serif !important;
  }
  